nav {
  display: flex; /* 1 */
  justify-content: space-between; /* 2 */
  padding: 1rem 2rem; /* 3 */
  background: #cfd8dc; /* 4 */
}

nav ul {
  display: flex; /* 5 */
  list-style: none; /* 6 */
}

nav li {
  padding-left: 1rem; /* 7! */
}

nav a {
  text-decoration: none;
  color: #0d47a1;
}

.biz {
  display: flex;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #d7d6ca;
  line-height: 1.5;
}
.fav_biz {
  display: flex;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #d7d6ca;
  line-height: 1.5;
}
a {
  color: black;
  font-size: large;
}
ol {
  padding-left: 20px;
}
ul {
  float: right;
  padding-left: 20px;
}
img {
  float: left;
  border-radius: 10px;
}
.search {
  position: relative;
  float: left;
  width: 50%;
  top: -25px;
}

.favorites {
  position: relative;
  left: 15px;
  top: -25px;
  float: right;
  width: 50%;
}

.add {
  position: relative;
  left: 540px;
  top: -40px;
}

.rmButton {
  position: relative;
  left: 600px;
  top: -140px;
}

.srch {
  position: relative;
  left: 275px;
  top: -5px;
}

.scrollPlans{
  position: relative;
  left: 1100px;
  top: 70px;
}

.viewPlan {
  position: relative;
  left: 200px;
  top: -45px;
}

.deleteButton {
  position: relative;
  left: 240px;
  top: -45px;
}

.output {
  position: relative;
  top: 50px;
}

.radio {
  position: relative;
  top: 25px;
  left: 90px;
}

.scrollPlan {
  position: relative;
  top: 90px;
  left: 770px;
}

.createBtn {
  position: relative;
  top: 25px;
}

.citylbl {
  position: relative;
  top: -54px;
  left: 250px;
}

.prof {
  position: relative;
  top: -25px;
}

.srch_radio {
  position: relative;
  top: -50px;
}
.srch_head {
  position: relative;
  top: -15px;
}

.plan-div {
  position: relative;
  top: -35px;
}

#neubar {
  background: #d7d6ca;
  box-shadow: 4px 6px 12px rgba(0, 0, 0, 0.4);
}

#neubar .nav-item {
  margin: auto 4px;
}
#neubar a {
  padding-left: 12px;
  padding-right: 12px;
}

a.navbar-brand {
  color: #454545;
}

.error{
  position: relative;
  top: 30px;
}

.error-1{
  position: relative;
  top: -68px;
}
